.inicio-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
}
/* DEIXAR DE NOITE COM A COR DO FUNDO DOS BOX PRETA TRANSPARENTE COM AS CORES BRANCAS, T+MUDAR VENDO PARA BRANCO*/
.temperature{
    grid-area: temperature;
}

.active-weather-icon{
    size: 2rem;
}
.location{
    color: white;
    grid-area: location;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.wind{
    grid-area: wind;
}

.other{
    grid-area: other;
}

.informacoes-content{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    padding: 0.75rem;
    grid-template-areas: 
    'wind location other'
    'wind temperature other';
}


.weather-mini{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-inicio-informacoes{
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
 
.location-name{
    font-size: 1.8rem;
    padding: 0.4rem;
    margin: 0;
}

.location-description{
    font-size: 0.7rem;
    margin: 10px 0;
}

@media (max-width: 790px) {
    .informacoes-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'location'
        'temperature'
        'other'
        'wind';
    }
}